<% include ../partials/header %>
<!-- content -->
	<div id="content" class="app-content" role="main">
		<div class="app-body">

<!-- ############ PAGE START-->

<div class="row-col blue">
	<div class="col-sm-3"></div>
	<div class="col-sm-6 text-center">
		<div class="p-t-lg">
			<h1 class="m-y-md text-white"><%=AppName %> We are good at Wumanizing..</h1>
			<h6 class="text-muted m-b-lg">With <%=AppName %> Everyone is a Wumanizer</h6>
			<div class="padding">
			<a href="/login" class="btn btn-lg rounded dark p-x-md m-x">Get Started</a>
		    </div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<!-- ############ PAGE END-->

		</div>
	</div>
	<!-- / -->

<% include ../partials/footer %>